[mysqld]
max_connections  = 10

key_buffer_size  = 4M
tmp_table_size   = 12M

innodb_buffer_pool_size        = 64M
innodb_file_per_table          = 1
innodb_flush_method            = O_DIRECT
innodb_log_buffer_size         = 20M
innodb_flush_log_at_trx_commit = 0

skip-character-set-client-handshake
max_allowed_packet   = 64M
character-set-server = utf8
collation-server     = utf8_general_ci
init-connect         = SET NAMES utf8
#sql_mode             = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

secure-file-priv= NULL

# Slow Query Log
long_query_time     = 1
slow_query_log      = 1
slow_query_log_file = /var/lib/mysql/slow.log

[client]
default-character-set = utf8
